.registered-link{
    margin:30px 0;
    text-align:center;
}

.registered-link a{
    display:inline-block;
    text-decoration:none;
    background:#fff;
    color:#d71920;
    border:2px solid #d71920;
    padding:12px 30px;
    border-radius:30px;
    font-size:18px;
    font-weight:600;
    transition:0.3s;
}

.registered-link a:hover{
    background:#d71920;
    color:#fff;
    transform:translateY(-2px);
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}